@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
    :root {
        --scrollbar-thumb: #d1d5db;
        /* gray-300 */
        --scrollbar-track: #f3f4f6;
        /* gray-100 */
    }

    .dark {
        --scrollbar-thumb: #374151;
        /* gray-700 */
        --scrollbar-track: #111827;
        /* gray-900 */
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
    }

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 8px;
    }

    *::-webkit-scrollbar-track {
        background: var(--scrollbar-track);
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb);
        border-radius: 20px;
        border: 2px solid var(--scrollbar-track);
    }

    /* Color Picker Utils */
    .hue-spectrum {
        background: linear-gradient(to right, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
    }

    .checkered-bg {
        background-image: conic-gradient(#e5e7eb 90deg, #ffffff 90deg 180deg, #e5e7eb 180deg 270deg, #ffffff 270deg);
        background-size: 8px 8px;
    }
}